<html>
	<head>
		<title>Login | Caldera</title>
		<link rel="shortcut icon" type="image/png" href="/gui/img/favicon.png"/>
		<link rel="stylesheet" href="/gui/css/lib/custom-bulma.css">
		<link rel="stylesheet" href="/gui/css/core.css">
		<link href="/gui/css/lib/fa-all.min.css" rel="stylesheet">
	</head>
	<body>
		<main class="container content is-flex is-flex-direction-column is-align-items-center is-justify-content-center" role="main">
			<img src="/gui/img/caldera-logo.png" alt="CALDERA Logo - Cyber Adversary Emulation Platform">
			<div class="wrapper">
				<form action="/enter" method="POST" aria-label="Login form">
					<div class="field">
						<label class="label" for="username-input">Username</label>
						<div class="control has-icons-left">
							<input class="input" type="text" placeholder="username" name="username" id="username-input" aria-label="Username" aria-required="true" autocomplete="username">
							<span class="icon is-small is-left" aria-hidden="true">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>
					<div class="field">
						<label class="label" for="password-input">Password</label>
						<div class="control has-icons-left">
							<input class="input" type="password" placeholder="password" name="password" id="password-input" aria-label="Password" aria-required="true" autocomplete="current-password">
							<span class="icon is-small is-left" aria-hidden="true">
								<i class="fas fa-lock"></i>
							</span>
						</div>
					</div>
					<button type="submit" class="button fancy-button is-fullwidth" aria-label="Log in to CALDERA">Log In</button>
				</form>
			</div>
		</main>
	</body>

	<style>
		html,body,.container {
			height: 100%;
			background: #161616;
		}

		img {
			width: 250px;
			margin: 16px;
		}

		input:active, input:focus {
			border-color: white !important;
		}
		input:focus {
			box-shadow: 0 0 0 0.125em #FFFFFF50 !important;
		}

		.wrapper {
			padding: 20px;
		}

	</style>

	<script>
        document.cookie.split(';').forEach((c) => {
            document.cookie = c.replace(/^ +/, '').replace(/=.*/, `=;expires=${new Date().toUTCString()};path=/`);
        });

        // # sourceURL=login.js
	</script>
</html>
